@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.projContainer{
    height: 1000px;
    margin-bottom: 6rem;   
}

.projSubcontainer{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

.projTextContainer {
    height: auto;
    width: 45%;
    padding: 0 1rem;
    font-family: 'PT Sans', sans-serif;
    margin-left: auto;
}

.projTextSubcontainer{
    margin: auto;
    width: 100%;
    margin-top: 4rem;
    max-width: 600px;
}

.projTextContainer h2{
    margin: 4rem 3rem;
    color: #fff;
    font-size: 31px;
}

.light-theme .projTextContainer h2{
    color: #001f3f;
}

.projTextContainer p{
    color: #ddd;
    font-size: 20px;
    margin-left: 2rem;
}

.light-theme .projTextContainer p{
    color: #001f3f;
}

.projImgContainer {
    height: 300px;
    width: 45%;
    margin-right: auto;
}

.projImgSubcontainer{
    max-width: 600px;
    margin: auto;
    margin-top: 1rem;
}

.projImgSubcontainer img{
    width: 100%;
    height: auto;
}


@media (max-width:700px) {
    .projSubcontainer{
        flex-direction: column-reverse;
    }

    .projTextContainer{
        width: 340PX;
        margin: 0 auto;
    }

    .projTextSubcontainer{
        width: 80%;
        margin-left: 2rem;
    }

    .projImgContainer{
        width: 100%;
        margin: 1.2rem 0 3rem 0;
    }

    .projTextContainer h2{
        margin-top: 3rem;
    }

    .projTextContainer p{
        margin-left: 0;
    }
    .projContainer{
        height: auto;
        margin-bottom: 5rem;
    }
}