@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.whatidoContainer {
    display: flex;
    height: 600px;
    margin-bottom: 10rem;
}

.imgContainer2 {
    width: 50%;
    margin: auto;
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer2 img{
    width: 600px;
    height: auto;
}

.whatidoText{
    width: 45%;
    margin: auto;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    
}

.whatidoText h2 {
    font-size: 55px;
    margin-bottom: 2.5rem;
    color: #fff;
}

.light-theme .whatidoText h2{
    color: #001f3f;
}

.whatidoText h3{
    font-size: 37px;
    color: #aaa;
    margin-bottom: 2.5rem;
}

.light-theme .whatidoText h3{
    color: #001f3f;
    opacity: 0.8;
}

.todoListContainer {
    margin: 0 auto;
    width: 70%;
}

.todoTask {
    text-align: left;
    margin: 1.3rem 0;
    color: #aaa;
    font-size: 30px;
    list-style: none;
    display: flex;
}

.light-theme .todoTask{
    color: #001f3f;
    opacity: 0.9;
}

.checkIcon {
    color: #2ECC40;
    margin-right: 0.5rem;
    margin-top: 0.1rem;
    height: 24px;
}

@media (max-width: 1700px){
    .whatidoText h2 {
        font-size: 45px;
    }

    .whatidoText h3{
        font-size: 30px;
    }

    .todoTask {
        font-size: 25px;
    }

    .whatidoContainer {
        margin-bottom: 6rem;
    }
}

@media (max-width: 880px){
    .whatidoContainer{
        flex-direction: column-reverse;
        height: auto;
        margin-left: 1rem;
    }
    .imgContainer2 {
        width: auto;
        margin: 1rem 3rem;
    }

    .imgContainer2 img{
        width: 550px;
    }
    .whatidoText{
        width: auto;
        margin: 2rem;
        margin-top: 4rem;
    }

    .todoTask {
        font-size: 20px;
    }
}

@media (max-width: 480px){
    .imgContainer2 img{
        width: 300px;
    }

    .todoListContainer{
        width: 100%;
    }
}