@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.whoamiContainer{
    width: 100%;
}

.dark-theme .whoamiContainer{
    color: #fff;
}

.light-theme .whoamiContainer{
    color: #001f3f;
}

.whoamiSubcontainer{
    display: flex;
    height: auto;
    margin-bottom: 6rem;
}

.imgContainer{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContainer img{
    width: 700px;
}

.headerIconsContainer{
    height: 100px;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.whoamiText {
    width: 50%;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whoamiText h2{
    margin-bottom: 1.5rem;
    font-size: 70px;
    
}

.whoamiText p{
    font-size: 35px;
    max-width: 750px;
    
}

.dark-theme .whoamiText p{
    color: #bbb;
}

.light-theme .whoamiText p{
    color: #001f3f;
    opacity: 0.7;
}

.btnsContainer {
    display: flex;
    width: auto;
    margin-top: 4rem;
}

@media (max-width: 1700px) {
    .whoamiText h2{
        margin-bottom: 1.5rem;
        font-size: 55px;
        
    }
    
    .whoamiText p{
        font-size: 24px;
        max-width: 550px;
        
    }
    .imgContainer img{
        width: 600px;
    } 
}
@media (max-width:1017px) {
    .imgContainer img{
        width: 400px;
    } 

   
}

@media (max-width:880px) {
    .whoamiSubcontainer{
        flex-direction: column;
        height: auto;
    }

    .headerIconsContainer{
        justify-content: center;
    }
    .whoamiText {
        margin-top: 4rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    .imgContainer {
        margin-left: 0;
        height: 450px;
        width: auto;
    }

    .imgContainer img{
        width: 550px;
    }

    .btnsContainer{
        width: 100%;
    }
}

@media (max-width: 500px){
    .whoamiText{
        width: 90%;
    }

    .imgContainer img{
        width: 330px;
    }

    .whoamiSubcontainer{
        margin-bottom: 2rem;
    }
}